# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Virtualenvs
.venv/
venv/

# Node / misc
node_modules/
dist/
build/

# VCS / editors
.git/
.gitignore
.vscode/
.idea/

# OS
.DS_Store

# Poetry
poetry.lock
